table{
  border-collapse: collapse;
  border: 0.2px solid grey;
}
table td{
  padding:5px;
  text-align: center;
  font-size: 13px;
}
.footer{
  text-align: center;
  font-size: 10px;
  color:grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
