%html
  %head
    %title Rapport
    %meta{charset:"UTF-8"}
    %link{href: "http://cloud.mabroka.ma:4001/css/rapport.css", media: "all", rel: "stylesheet", type: "text/css"}
  %body
    %h1= "Contrat de location N° "+id
